<div class="container">
  <div>
    {{ title }}
  </div>


  <div *ngIf="items.length === 0; else showItems">
    <h3> No WISHES</h3>

  </div>

  <ng-template #showItems>
  <ul *ngIf="items.length > 0" class="wish-list">
    <li *ngFor="let item of items; index as ii">
      <div class="form-check">
        <label for="" class="form-check-label">
          <input 
          type="checkbox" 
          class="checkbox"
          [checked]="item.isComplete"
          [attr.data-index]="ii"
          >{{item.wishText}}
        </label>
      </div>
    </li>
  </ul> 
</ng-template>

</div>